.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.textarea{
    margin-bottom: 20px;
}
.keyboard{
    display: flex;
    flex-wrap: wrap;   
    max-width: 850px;
}
.keyboard > * {
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: middle;
}
.text{
    font-size: 20px;
    padding: 20px 10px 10px 10px;
}
.leftTopText{
    font-size: 14px;
    vertical-align: top;
}
.active {
    background-color: orange !important;
}